@model IEnumerable<MartialArtsSchool.Models.Lesson>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Lessons</h1>

<p>
    <a asp-controller="Lesson" asp-action="Create" class="create-link">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-controller="Lesson" asp-action="Edit" asp-route-id="@item.IdLesson">Edit</a> |
                <a asp-controller="Lesson" asp-action="View" asp-route-id="@item.IdLesson">Details</a> |
                <a asp-controller="Lesson" asp-action="Delete" asp-route-id="@item.IdLesson">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
