@model IEnumerable<MartialArtsSchool.Models.Member>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-controller="Member" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                <a asp-controller="Member" asp-controller="Member" asp-action="Edit" asp-route-id="@item.IdMemeber">Edit</a> |
                <a asp-controller="Member" asp-action="View" asp-route-id="@item.IdMemeber">Details</a> |
                <a asp-controller="Member" asp-action="Delete" asp-route-id="@item.IdMemeber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
